.animal-card {
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: white;
	overflow: hidden;

	&__image {
		img {
			width: 100%;
		}
	}
	&__info {
		padding: 16px 8px;
		text-align: center;
	}
}
