.title h3 {
	font-size: 24px;
	margin: 48px 0;
	text-align: center;
	font-weight: 500;
}

.gp-btn {
	display: flex;
	justify-content: space-between;
	
	.add-animal-btn {
		display: flex;
		align-items: center;
		justify-content: center;

		outline: none;
		border: none;
		border-radius: 4px;
		padding: 0 16px;
		margin-right: 16px;

		color: white;
		background-color: var(--success);

		font-size: 1rem;

		user-select: none;
		cursor: pointer;

		svg {
			margin-right: 8px;
		}
	}
	.search-bar {
		width: 800px;
	}
}

.gp-btn-edit{
	display: inline;

	button{
		background:none;
		border: none;
		margin: 15px;
		margin-top: 20px;
		img{
			width: 30px;
			height: 30px;
		}
	}
	button:hover{
		transform: scale(1.15)
	}
}

.num_page{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.search-input{
	width: 50%;
	margin: auto;
}


@media only screen and (max-width: 768px) {
  
}
