.tool-bar {
	.tool-logo {
		font-size: 32px;
		text-align: center;
		margin: 20px;
	}

	.tool-item {
		padding: 20px 0;
		word-break: break-all;
		margin: 10px auto;
		height: 30px;
		text-align: center;
		background-color: #28a745;
		color: white;
		line-height: 0;
		width: 100%;
		border-radius: 5px;
	}
	.tool-item:hover {
		background-color: silver;
		color: black;
		cursor: pointer;
	}
}

.layout-tool {
	box-shadow: 0 0 6px 0 rgb(161, 161, 161);
	margin: 0 auto;
	min-height: 700px;
}

.logo-mobile {
	display: none;
	font-size: 32px;
	text-align: center;
	position: absolute;	
	left: 0;
	width: 100%;
	background-color:var(--green);

	button{
		background: none;
		border: none;
	}



	img{
		width: 35px;
	}
}

@media only screen and (max-width: 768px) {
	.tool-bar {
		display: none;
	}

	.logo-mobile {
		display: block;

		button {
			float: left;
			outline: none;
			padding: 5px;
		}

		.title{
			font-size: 28px;
			font-weight: 700;
			margin: 10px;
			color: white;
			padding-right: 30px;
		}
	}
	.layout-tool {
		height: 100%;
	}
}

.textInput {
	width: 250px;
}
