.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	&__link {
		display: inline-block;
		padding: 10px 16px;

		color: white;
		font-size: 1.2rem;
		font-weight: 500;

		cursor: pointer;
		user-select: none;
	}

	.btn-login{
	}

	@media only screen and (max-width: 768px) {
		width: 100%;
		&__link {
			padding-bottom: 20px;
		}
	}
}
