.search {
	margin-top: 62.4px;
	padding-top: 32px;

	&__title {
		margin-bottom: 12px;
		font-size: 1.5rem;
		font-weight: 400;
		color: #555;
	}
	&__group {
		display: flex;

		.input {
			flex: 1 0 0;
			border-radius: 4px 0 0 4px;
			border: 1px solid #ccc;
			padding: 12px;
			font-size: 1.125rem;

			&:focus {
				outline: none;
				border: 1px solid var(--success);
				box-shadow: 0 0 0 1px var(--success);
			}
		}

		.btn {
			display: inline-block;
			outline: none;
			border: none;
			border-radius: 0 4px 4px 0;
			padding: 0 16px;

			font-size: 1.2rem;
			font-weight: 500;

			cursor: pointer;
			user-select: none;

			&--success {
				color: white;
				background-color: var(--success);
			}
		}
	}

	.button-back{
		width: 80px;
		height: 30px;
		margin: 5px;
		margin-bottom: 10px;
		padding: 5px;
		clip-path: polygon(24% 2%, 100% 0, 100% 100%, 25% 97%, 0% 50%);
		background-color:rgb(247, 117, 11);
		border: none;
		cursor: pointer;
		color: white;
	}

	.button-back:hover{
		transform:translateX(-5px);
	}


	@media only screen and (max-width: 768px) {

		margin-top: 100px;
	}
}
